.container-100 {
	width: 95%;
	padding-right: 10px;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}

/*----------------
margin-top class
-----------------*/

.mtop-5 {
	margin-top: 5px !important;
}

.mtop-10 {
	margin-top: 10px !important;
}

.mtop-15 {
	margin-top: 15px !important;
}

.mtop-20 {
	margin-top: 20px !important;
}

.mtop-25 {
	margin-top: 25px !important;
}

.mtop-30 {
	margin-top: 30px !important;
}

/*-------------------- 
end margin-top class
---------------------*/

/*----------------
margin-bottom class
-----------------*/

.mbottom-5 {
	margin-bottom: 5px !important;
}

.mbottom-10 {
	margin-bottom: 10px !important;
}

.mbottom-15 {
	margin-bottom: 15px !important;
}

.mbottom-20 {
	margin-bottom: 20px !important;
}

.mbottom-25 {
	margin-bottom: 25px !important;
}

.mbottom-30 {
	margin-bottom: 30px !important;
}

/*-------------------- 
end margin-bottom class
---------------------*/

.style10 {
	border-top: 1px dotted #8c8b8b;
	border-bottom: 1px dotted #fff;
	width: 30% !important;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}